@use "../../styles" as *;

.section {
  background-color: $primary-870;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.title {
  @include title;
}

.highlights {
  display: flex;
  gap: 16px;

  @include media-query($tablet-s) {
    flex-direction: column;
  }
}
