@use "../colors" as *;
@use "../fonts/" as *;

@mixin accessibility($color) {
  border-radius: 0.25rem;
  outline: 0;
  transition: box-shadow 0.15s;

  &:focus-visible {
    box-shadow: 0 0 0 0.25rem $color;
  }
}

@mixin title {
  color: $primary-090;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
