@use "../../styles" as *;

.section {
  background-color: $primary-870;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 9px 24px 24px;
}

.title {
  @include title;
}
